{% from "bootstrap5/form.html" import render_form %}
{% extends 'base.html' %}

{% block title %}
    Edit Todo
{% endblock %}

{% block content %}
    <body>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
              <div class="card-img-left d-none d-md-flex">
                <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body p-4 p-sm-5">
                <h4 class="card-title text-center mb-5 fw-light fs-5">Edit Todo</h4>
                <form method="POST">
                  {{ form.hidden_tag() }}

                  <!-- Render the entire form using render_form for consistency with Bootstrap styling -->
                  <div class="form-floating mb-3">
                    {{ render_form(form, novalidate=true) }}
                  </div>

                  <!-- Submit and Cancel buttons -->
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                  <a href="{{ url_for('user_home') }}" class="btn btn-secondary">Cancel</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
{% endblock %}
